.blog-card {
    border: 1px solid #E3E8F4;
    border-radius: 20px;
    height: 100%;
  }

  @media only screen and (max-width: 767px){
    .blog-card {
      width: 60%;
      height: auto;
      margin: auto;
    }
  }

  @media only screen and (max-width: 450px){
    .blog-card {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  .blog-sec .blog-title span {
    color: #2fbcdc;
  }
  .blog-card img {
    width: -webkit-fill-available;
    height: auto;
    border-radius: 20px;
  }
  .blog-card .icon-img {
    width: 20px;
    height: 20px;
    border-radius: 0;    
  }

  .container {
    max-width: 87% !important;
}
  .blog-card .icon-text {
    color: #7B7E86;
    font-size: 14px;
    font-weight: normal;
  }
  .blog-card p {
    color: #7B7E86;
    font-size: 15px;    
  }
  .read-more-btn {
    color: #09385a;
    text-decoration: none;
    border: 1px solid #09385a;
    padding: 7px 15px;
    border-radius: 40px;
  }
  .read-more-btn:hover {
    color: #2fbcdc;
  }

  .load-more-btn {
    text-decoration: none;
    color: #09385a;
    background: #2fbcdc;
    padding: 15px 29px;
    border-radius: 40px;
  }
  
  .load-more-btn:hover {
    background: transparent;
    border: 1px solid #2fbcdc;
    color: #2fbcdc;
  }