.objective-card {
    border: 1px solid #7b7e8633;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
  }
  .objective-card p {
    color: #7B7E86;
    text-align: justify;
    font-size: 17px;
  }